{% extends 'layout.html' %}
<!DOCTYPE html>
{% load static %}
{% block link %}
    {#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">#}
    <link rel="stylesheet"
          href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block css %}
    .section-header {
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.3rem);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    }
    .section-header i {
    color: #007bff;
    margin-right: 8px;
    font-size: 1.2em;
    }
    .section-divider {
    border-top: 1px solid #ddd;
    margin-top: -0.3rem;
    margin-bottom: 1rem;
    }
    .section-box {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    }
    .simulation-label {
    font-size: clamp(1rem, 2vw, 1.3rem);
    {#    不会小于 0.9rem，也不会大于 1.1rem。#}
    font-weight: 500;
    }
    .form-check-input {
    transform: scale(1.2);
    margin-right: 6px;
    }

    :root {
    --primary-blue: #007bff;
    --primary-blue-hover: #0056b3;
    --text-dark: #212529;
    --text-light: #6c757d;
    --bg-light: #f8f9fa;
    --border-color: #dee2e6;
    }

    body {
    background-color: #fff;
    color: var(--text-dark);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    .container.my-5 {
    max-width: 80vw;
    width: 100%;

    background-color: #fdfdfd; /* 或者 #f8f9fa，比纯白柔和 */
    padding: 4rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease;
    }
    .page-title {
    color: var(--primary-blue);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
    user-select: none;
    }

    .section-title {
    background-color: rgba(0, 123, 255, 0.2); /* 加一点淡蓝底 */
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    color: var(--text-dark);
    font-weight: 600;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    user-select: none;
    }


    .section-title .fa {
    color: var(--primary-blue);
    margin-right: 10px;
    }

    .form-label.parameter {
    font-weight: 500;
    font-size: 1.2em;
    color: var(--text-dark); /* 原来是 text-light */
    user-select: none;
    }

    .form-control {

    height: 2.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: inherit;
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }


    .form-control:focus {
    border-color: var(--primary-blue);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    outline: none;
    }


    .btn-main {
    background-color: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
    }

    .btn-main:hover:not(:disabled) {
    background-color: var(--primary-blue-hover);
    box-shadow: 0 6px 16px rgba(0, 123, 255, 0.5);
    color: white;
    }

    .btn-main:disabled {
    background-color: #6c757d;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    }

    /* 进度条默认Bootstrap 4样式即可 */
    .progress-bar {
    background-color: var(--primary-blue);
    transition: width 0.4s ease;
    }

    /* 预览区域等样式保持不变 */


    .preview-area {
    min-height: 100px; /* 初始高度更小 */
    max-height: 400px; /* 预览框最大高度 */
    max-width: 100%;
    background-color: var(--bg-light);
    border: 1px dashed var(--border-color);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    font-style: italic;
    overflow-y: auto; /* 内容超出可滚动 */
    padding: 1rem;
    transition: height 0.3s ease;
    user-select: text;
    }

    .preview-area img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 4px;
    object-fit: contain;
    user-select: none;
    }

    .preview-area pre {
    white-space: pre-wrap;
    word-break: break-word;
    color: var(--text-dark);
    max-height: 250px;
    overflow-y: auto;
    font-family: Consolas, Monaco, monospace;
    font-size: 1.2rem;
    user-select: text;
    }

    .btn-main {
    background-color: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
    }

    .btn-main:hover:not(:disabled) {
    background-color: var(--primary-blue-hover);
    box-shadow: 0 6px 16px rgba(0, 123, 255, 0.5);
    color: white;
    }

    .btn-main:disabled {
    background-color: #6c757d;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    }

    .progress-bar {
    background-color: var(--primary-blue);
    transition: width 0.4s ease;
    }


{% endblock %}
{% block  content %}

    <div style="background-color: #f1f3f5; padding: 2rem 0;height: 100% ;min-height:100vh">

        <div class="container my-5">

            <h1 class="text-center" data-aos="fade-up"
                style="font-size: 3vw;font-family: Arial;color: #007bff!important;">
                DNA Decoding Module
            </h1>
            <form action="{% url 'decode' %}" method="post" enctype="multipart/form-data">
                <!-- 这里只是一个示例，实际解码后可能不需要返回编码页面 -->
                {% csrf_token %}

                {#    cluster method#}
                <div class="mb-5">
                    <h5 class="section-title mb-3"><i class="fa fa-object-group"></i>cluster</h5>
                    <div class="p-4 border rounded" style="background-color: #fdfdfd;">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="cluster_method" class="form-label parameter">Cluster method</label>
                                <select id="cluster_method" {% if cluster %}disabled="true"{% endif %}
                                        name="cluster_method"
                                        class="form-control">
                                    <option {% if base.cluster_method == 'index' %}selected{% endif %} value="index">
                                        index
                                    </option>
                                    <option {% if base.cluster_method == 'allbase' %}selected{% endif %}
                                            value="allbase">
                                        reference sequence
                                    </option>
                                    <option {% if base.cluster_method == 'no' %}selected{% endif %} value="no">I don't
                                        need
                                        cluster
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="copy_number" class="form-label parameter">Max copy num</label>
                                <input type="number" {% if cluster %}disabled="true"{% endif %} class="form-control"
                                       id="copy_number" name="copy_number" value="{{ base.copy_number }}">
                            </div>


                        </div>

                        <div class="row mt-2" id="copy_num1">

                            <div class="col-md-6" id="index_length_div" style="display: none;">
                                <label for="index_length" class="form-label parameter">Index length</label>
                                <input type="number" class="form-control" id="index_length" name="index_length"
                                       value="{{ base.index_length }}" {% if cluster %}disabled="true"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>


                {#    reconstruct#}
                <div class="mb-5">
                    <h5 class="section-title mb-3"><i class="fa fa-sync"></i>Reconstruct</h5>
                    <div class="p-4 border rounded" style="background-color: #fdfdfd;">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="reconstruct" class="form-label parameter">Reconstruct</label>
                                <select id="reconstruct" name="reconstruct" class="form-control"
                                        {% if cluster %}disabled="true"{% endif %}>
                                    <option {% if base.reconstruct == 'yes' %}selected{% endif %} value="yes">
                                        yes (use a consensus for decode)
                                    </option>
                                    <option {% if base.reconstruct == 'no' %}selected{% endif %} value="no">
                                        no (use multiple sequences for decode)
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6" id="rebuild_method_isshow" style="display: none;">
                                <label for="rebuild_method" class="form-label parameter">Rebuild method</label>
                                <select id="rebuild_method" name="rebuild_method" class="form-control"
                                        {% if cluster %}disabled="true"{% endif %}>
                                    <option {% if base.rebuild_method == 'SeqFormer' %}selected{% endif %}
                                            value="SeqFormer">
                                        SeqFormer (consensus + base confidence)
                                    </option>
                                    <option {% if base.rebuild_method == 'bsalign' %}selected{% endif %}
                                            value="bsalign">
                                        bsalign (consensus + base confidence)
                                    </option>
                                    <option {% if base.rebuild_method == 'BMALA' %}selected{% endif %} value="BMALA">
                                        BMALA (consensus)
                                    </option>
                                    <option {% if base.rebuild_method == 'DivBMA' %}selected{% endif %} value="DivBMA">
                                        DivBMA (consensus)
                                    </option>
                                    <option {% if base.rebuild_method == 'Hybrid' %}selected{% endif %} value="Hybrid">
                                        Hybrid (consensus)
                                    </option>
                                    <option {% if base.rebuild_method == 'Iterative' %}selected{% endif %}
                                            value="Iterative">
                                        Iterative (consensus)
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-2" id="baseconfidence_div" style="display: none; padding-top: 0.5vw">
                            <div class="col-md-12">
                                <label class="form-label parameter">Base confidence</label>
                                <div class="form-check form-check-inline mt-1"
                                     style="padding-left: 1.2vw;font-size: 1.2vw">
                                    <input class="form-check-input" type="radio" name="confidence" id="confidence_yes"
                                           value="yes"
                                           {% if cluster %}disabled="true"{% endif %}
                                           {% if base.confidence == 'yes' %}checked{% endif %}>
                                    <label class="form-check-label" for="confidence_yes">Yes, I need base
                                        confidence</label>
                                </div>
                                <div class="form-check form-check-inline mt-1" style="font-size: 1.2vw">
                                    <input class="form-check-input" type="radio" name="confidence" id="confidence_no"
                                           value="no"
                                           {% if cluster %}disabled="true"{% endif %}
                                           {% if base.confidence == 'no' %}checked{% endif %}>
                                    <label class="form-check-label" for="confidence_no">No, I don't need base
                                        confidence</label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                {#{% cluster 输入用于模拟之后的序列 %}#}
                <div class="mb-5">
                    <h5 class="section-title mb-3" style="padding-top: 2vw">
                        <i class="fa fa-upload"></i> UPLOAD Simulated File
                    </h5>

                    <div class="row align-items-center">
                        <!-- 左列：上传 -->
                        <div class="col-md-6">
                            <div class="custom-file">
                                <label for="inputFile_simulate"
                                       class="form-label parameter custom-file-label"
                                       id="fileNameLabel_simulate">Select file</label>

                                <div class="input-group">
                                    {# Django：隐藏字段，携带服务器端已有文件名 #}
                                    <input type="text" class="custom-file-input" id="forclusterfile_filename"
                                           value="{{ forclusterfile_filename }}" hidden name="forclusterfile_filename">

                                    <input type="file" class="custom-file-input" id="inputFile_simulate"
                                           accept=".fasta,.fa,.fastq,.fq"
                                           name="file_simulate" style="height: 3rem;">
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mt-3",name="uploadBtn_simulate"
                                    id="uploadBtn_simulate" style="display: none;">
                                Upload to Preview
                            </button>

                            <div id="uploadProgressContainer_simulate"
                                 class="progress mt-2" style="height: 10px; display: none;">
                                <div id="uploadProgressBar_simulate"
                                     class="progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar" style="width: 0%"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <!-- 右列：预览 -->
                        <div class="col-md-6">
                            <label class="form-label parameter">File Preview (Only first 100 lines shown in
                                preview)</label>

                            {% if preview_simulate %}
                                <div id="preview_simulate" class="preview-area p-3"
                                     style="height: 200px; overflow-y: auto;">
                                    <pre style="white-space: pre-wrap; word-break: break-word; max-height: 100%; overflow-y: auto;">{{ preview_simulate }}</pre>
                                </div>
                            {% else %}
                                <div id="preview_simulate" class="preview-area p-3"
                                     style="height: 100px; overflow-y: auto;">
                                    Select a file and click "Upload to Preview"
                                </div>

                            {% endif %}

                        </div>

                    </div>
                </div>
                {#{% cluster 输入参考序列%}#}
                <div class="mb-5">
                    <h5 class="section-title mb-3" style="padding-top: 2vw">
                        <i class="fa fa-upload"></i> UPLOAD Reference / Index File
                    </h5>

                    <div class="row align-items-center">
                        <!-- 左列：上传 -->
                        <div class="col-md-6">
                            <div class="custom-file">
                                <label for="inputFile_ref"
                                       class="form-label parameter custom-file-label"
                                       id="fileNameLabel_ref">Select file</label>

                                <div class="input-group">
                                    <input type="text" class="custom-file-input" id="encode_outfile_filename"
                                           value="{{ encode_outfile_filename }}" hidden name="encode_outfile_filename">

                                    <input type="file" class="custom-file-input" id="inputFile_ref"
                                           accept=".fasta,.fa,.fastq,.fq"
                                           name="ref_or_index" style="height: 3rem;">
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary mt-3"
                                    id="uploadBtn_ref" style="display: none;">
                                Upload to Preview
                            </button>

                            <div id="uploadProgressContainer_ref"
                                 class="progress mt-2" style="height: 10px; display: none;">
                                <div id="uploadProgressBar_ref"
                                     class="progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar" style="width: 0%"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <!-- 右列：预览 -->
                        <div class="col-md-6">
                            <label class="form-label parameter">File Preview (Only first 100 lines shown in
                                preview)</label>

                            {% if preview_ref %}
                                <div id="preview_ref" class="preview-area p-3"
                                     style="height: 200px; overflow-y: auto;">
                                    <pre style="white-space: pre-wrap; word-break: break-word; max-height: 100%; overflow-y: auto;">{{ preview_ref }}</pre>
                                </div>
                            {% else %}
                                <div id="preview_ref" class="preview-area p-3"
                                     style="height: 100px; overflow-y: auto;">
                                    Select a file and click "Upload to Preview"
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>

                <button type="submit" {% if cluster %}disabled="true"{% endif %} class="btn btn-primary"
                        id="startButton"
                        name="startButton">Cluster Start
                </button>
                <div id="loading-cluster" class="text-center mt-3" style="display: none;">
                    <img src="{% static 'images/loading.gif' %}" alt="Loading..." style="width: 60px;">
                    <p style="font-weight: bold;">Clustering in progress...</p>
                </div>
                {#        <button type="submit" style="display: none;"  {% if cluster %}disabled="true"{% endif %} class="btn btn-primary" id="next_decode" name="next_decode">next step</button>#}

                <a class="ml-2" style="display: none;" href="{% url 'download_file' mode='fordecode_outfile' %}"
                        {% if not cluster %} hidden {% endif %} id="download_clusterfile"
                   class="download-link">download</a>
                {#</div>#}

                {#    base confidence estimation old#}
                <div>

                </div>
                {#    decode#}
                {% if cluster %}

                    <div>
                        <div class="row mt-4">
                            <h4>decode</h4>
                        </div>
                        {# {% 编码方法 %}#}
                        <div class="mt-2 mb-2">
                            <input type="text" class="form-control" id="filename2" value="{{ filename2 }}" hidden
                                   name="filename2">
                            <div class="form-group">
                                <label for="file">upload decode file：</label>
                                <div class="custom-file col-md-7 ml-2">
                                    <input type="file" class="custom-file-input" id="file2" name="file2"
                                           {% if decode %}disabled="true"{% endif %}>
                                    <label class="custom-file-label" for="file2" id="fileNameLabel2">choose file</label>
                                </div>
                            </div>
                            <input type="text" class="form-control" id="orifile_filename" value="{{ orifile_filename }}" hidden
                                   name="orifile_filename">
                            <div class="form-group">
                                <label for="file">upload origin file：</label>
                                <div class="custom-file col-md-7 ml-3">
                                    <input type="file" class="custom-file-input" id="file3" name="file3"
                                           {% if decode %}disabled="true"{% endif %}>
                                    <label class="custom-file-label" for="file3" id="fileNameLabel3">choose file</label>
                                </div>
                            </div>
                            <div class="mt-2 mb-1 row">
                                <label for="method" class="col-sm-2 col-form-label">decode methods：</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="method" name="method"
                                            {% if decoded_data %}disabled="true"{% endif %}>
                                        <option value="fountain" {% if base.method == "fountain" %}selected{% endif %}>
                                            dna
                                            fountain
                                        </option>
                                        <option value="YYC" {% if base.method == "YYC" %}selected{% endif %}>YYC
                                        </option>
                                        <option value="derrick" {% if base.method == "derrick" %}selected{% endif %}>
                                            derrick
                                        </option>
                                        <option value="PolarCode"
                                                {% if base.method == "PolarCode" %}selected{% endif %}>
                                            PolarCode
                                        </option>
                                        <option value="hedges" {% if base.method == "hedges" %}selected{% endif %}>
                                            hedges
                                        </option>
                                    </select>
                                </div>
                                {#                        <label for="decaylossrate" class="col-sm-2 col-form-label">decode method :</label>#}
                                <div class="col-sm-4">
                                    <select id="decision" {% if decoded_data %}disabled="true"{% endif %}
                                            name="decision"
                                            class="form-control">
                                        <option {% if base.decision == 'hard' %}selected{% endif %} value="hard">hard
                                            decision
                                        </option>
                                        <option id="decision_soft"
                                                {% if base.reconstruct == 'no'  or base.confidence == 'no' %}hidden{% endif %}
                                                {% if base.decision == 'soft' %}selected{% endif %} value="soft">soft
                                            decision
                                        </option>
                                    </select>
                                </div>
                            </div>
                            {#                    <div class="mt-2 mb-1 row">#}
                            {#                    </div>#}
                        </div>
                        <div class="mt-2">
                            <div class="mt-2 mb-1 row">
                                <label for="copy_number_decode" class="col-sm-2 col-form-label">max copy num:</label>
                                <div class="col-sm-8">
                                    <input type="number" {% if decoded_data %}disabled="true"{% endif %}
                                           class="form-control" id="copy_number_decode" name="copy_number_decode"
                                           value="{{ base.copy_number }}">
                                </div>
                            </div>
                            {#                    <div class="mt-2 mb-1 row">#}
                            {#                        <label for="decaylossrate" class="col-sm-2 col-form-label">decode method :</label>#}
                            {#                        <div class="col-sm-8">#}
                            {#                            <select id="decision" {% if decoded_data  %}disabled="true"{% endif %}  name="decision" class="form-control" >#}
                            {#                                <option  {% if base.decision == 'hard' %}selected{% endif %} value="hard">hard decision</option>#}
                            {#                                <option {% if base.reconstruct == 'no'  or base.confidence == 'no' %}hidden{% endif %}  {% if base.decision == 'soft' %}selected{% endif %} value="soft">soft decision</option>#}
                            {#                            </select>#}
                            {#                        </div>#}
                            {#                    </div>#}
                            <div>
                                <button type="submit" {% if decoded_data %}disabled="true"{% endif %}
                                        class="btn btn-primary mt-3 mb-5" name="decodeBtn">start decode
                                </button>

                            </div>
                            <div id="loading-decode" class="text-center mt-3" style="display: none;">
                                <img src="{% static 'images/loading.gif' %}" alt="Loading..." style="width: 60px;">
                                <p style="font-weight: bold;">Decoding in progress...</p>
                            </div>
                        </div>
                    </div>


                {% endif %}
                {% if decode %}
                    {#    result#}

                    <div class="row mt-4">
                        <h4>result</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-10">
                            <div class="card mt-3">
                                <div class="card-body">
                                    {% if decoded_data %}
                                        <input hidden value="{{ decoded_data }}" name="sequencing_data"/>
                                        <div id="encode-info1">
                                            <h5 class="card-title">decode result:</h5>
                                            <p class="card-text">
                                                {% if decoded_data.code == 0 %}
                                                    <div>decode cost time：{{ decoded_data.decode_time }}</div>
                                                    {#                                            <div>decode bit_rev：{{ decoded_data.bit_rev }}</div>#}
                                                    {#                                            <div>decode seq_rev：{{ decoded_data.seq_rev }}</div>#}
                                                    <div>decode bad bits：{{ decoded_data.badbits }}</div>
                                                    <div>decode bit num：{{ decoded_data.allbits }}</div>
                                                    <div>decode bit recovery：{{ decoded_data.bits_recov }}</div>
                                                {% else %}
                                                    <div>decode fail.</div>
                                                {% endif %}
                                            </p>
                                            <a href="{% url 'download_file' mode='decode' %}"
                                                    {% if decoded_data.code != 0 %}
                                               hidden {% endif %}class="download-link">download</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 mb-5 row">
                        <div class="col-sm-9"></div>
                        <button type="submit" id="next" name="restart" class="btn btn-success col-sm-1">重新开始
                        </button>
                    </div>

                    {#            <div class="mt-4 form-group text-right">#}
                    {#            <div class="mt-4 form-group mr-4">#}
                    {#                <button type="submit" id="next" name="restart" class="btn btn-success">重新开始</button>#}
                    {#            </div>#}
                {% endif %}
            </form>
        </div>

    </div>
    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-danger">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark" id="errorModalBody">
                    <!-- 错误信息会被动态插入这里 -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    {#          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>
 $(document).ready(function () {
        function initUploader(prefix) {
    const uploadBtn = $(`#uploadBtn_${prefix}`);
    const inputFile = $(`#inputFile_${prefix}`);
    const previewContainer = $(`#preview_${prefix}`);
    const progressContainer = $(`#uploadProgressContainer_${prefix}`);
    const progressBar = $(`#uploadProgressBar_${prefix}`);
         const fileLabel = $(`#fileNameLabel_${prefix}`);

    // 1. 当用户选择文件
    inputFile.on('change', function (e) {
        if (e.target.files.length > 0) {
            const fileName = e.target.files[0].name;
             uploadBtn.click();
            fileLabel.text(fileName);
            {#previewContainer.html('File selected: ' + fileName + '. Click "Upload to Preview".');#}
            {#progressContainer.hide();#}
            progressBar.width('0%').text('0%');
        } else {
            uploadBtn.hide();
            previewContainer.text('No file selected.');
        }
    });

    // 2. 点击上传预览
    uploadBtn.on('click', function () {
        const file = inputFile[0].files[0];
        if (!file) {
            alert("Please select a file first.");
            return;
        }

        const formData = new FormData();
        formData.append('file_for_preview', file);
        formData.append('uploader_prefix', prefix);
        // Django 后端 URL（你需定义该 view）
        const uploadUrl = "{% url 'preview_fasta_file_for_cluster_and_reconstruct' %}";
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const xhr = new XMLHttpRequest();
        xhr.open('POST', uploadUrl, true);
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        // 进度条更新
        xhr.upload.onprogress = function (e) {
            if (e.lengthComputable) {
                const percentComplete = (e.loaded / e.total) * 100;
                progressContainer.show();
                progressBar.width(percentComplete + '%');
                progressBar.text(Math.round(percentComplete) + '%');
            }
        };

        xhr.onerror = function () {
            alert('An error occurred during the upload. Please try again.');
            progressContainer.hide();
        };

        xhr.onload = function () {
            progressContainer.hide();
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                previewContainer.html('');

                if (response.success) {
                    const fileContent = response.file_content;
                    const fileType = response.file_type;

                    previewContainer[0].style.setProperty('height', '200px', 'important');

                    if (fileType.startsWith('image/')) {
                        const img = $('<img>').attr('src', fileContent).addClass('img-fluid');
                        previewContainer.append(img);
                    } else if (fileType.startsWith('text/')) {
                        const pre = $('<pre>').text(fileContent);
                        previewContainer.append(pre);
                    } else {
                        previewContainer.text(`'${response.file_name}' is a binary file. No preview available.`);
                    }
                } else {
                    previewContainer.text('Error: ' + response.error);
                }
            } else {
                previewContainer.text('Server error: Could not process the file.');
            }
        };

        xhr.send(formData);
    });
}
        function init_showfilename(hiddenInputId, labelId) {
    const val = document.getElementById(hiddenInputId).value;
    if (val) {
        const label = document.getElementById(labelId);
        label.textContent = val;
        // 若使用 bootstrap4 的自定义 file，需要加 selected
        label.classList.add('selected');
    }
}
        // 初始化两个上传模块

        initUploader('simulate');
        initUploader('ref');
        initUploader('ori_file')
        // 更新文件选择器的标签
        $('#file2').on('change', function (e) {
            var fileName = e.target.files[0].name;
            $("#fileNameLabel2").html(fileName);
        });
        // 更新文件选择器的标签
        $('#file3').on('change', function (e) {
            var fileName = e.target.files[0].name;
            $("#fileNameLabel3").html(fileName);
        });
        const STORAGE_KEY = 'scrollPosition';

        // 保存滚动位置到 sessionStorage
        window.addEventListener('scroll', function () {
            const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
            sessionStorage.setItem(STORAGE_KEY, scrollPosition);
        });

        // 页面加载时读取 sessionStorage 并滚动到保存的位置
        window.addEventListener('load', function () {
            const scrollPosition = sessionStorage.getItem(STORAGE_KEY);
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
        });


        $('#reconstruct').change(function () {
            var reconstruct = $(this).val();
            {#console.log(reconstruct)#}
            if (reconstruct === 'yes') {
                $('#rebuild_method_isshow').show();
                {#$('#startAndRebuildButton').show();#}
                {#$('#startButton').hide();#}

                if ($('#rebuild_method').val() === 'SeqFormer' || $('#rebuild_method').val() === 'bsalign') {
                    $('#baseconfidence_div').show();
                    $('#copy_num').show();
                }
            } else {
                {#$('#startButton').show();#}
                {#$('#startAndRebuildButton').hide();#}

                $('#rebuild_method_isshow').hide();
                $('#baseconfidence_div').hide();
                $('#copy_num').hide();

            }
        });

        $('#cluster_method').change(function () {
            var cluster = $(this).val();
            if (cluster === 'no') {
                $('#inputFile').prop('disabled', true);
                $('#cluster_file').prop('disabled', true);
                $('#rebuild_method').prop('disabled', true);
                $('#reconstruct').prop('disabled', true);
                $('#confidence_yes').prop('disabled', true);
                $('#confidence_no').prop('disabled', true);
                $('#index_length_div').hide();
            } else {
                $('#inputFile').prop('disabled', false);
                $('#cluster_file').prop('disabled', false);
                $('#rebuild_method').prop('disabled', false);
                $('#reconstruct').prop('disabled', false);
                $('#confidence_yes').prop('disabled', false);
                $('#confidence_no').prop('disabled', false);
                if (cluster === 'index') {
                    $('#index_length_div').show();
                } else {
                    $('#index_length_div').hide();
                }
            }

        });

        $('#rebuild_method').change(function () {
            var method = $(this).val();
            if (method === 'SeqFormer' || method === 'bsalign') {
                $('#baseconfidence_div').show();
                $('#copy_num').show();
            } else {
                $('#baseconfidence_div').hide();
                $('#copy_num').hide();
            }
        });

        $('#method').change(function () {
            var method = $(this).val();
            if (method === 'fountain' || method === 'PolarCode' || method === 'YYC') {
                $('#decision_soft').show();
            } else {
                $('#decision_soft').hide();
            }
        });

        const startBtn = document.getElementById('startButton');   // cluster 按钮
        const decodeBtn = document.querySelector('button[name="decodeBtn"]');  // decode 按钮

        if (startBtn) {
            startBtn.addEventListener('click', function () {
                document.getElementById('loading-cluster').style.display = 'block';
            });
        }
        if (decodeBtn) {
                        decodeBtn.addEventListener('click', function () {
                            document.getElementById('loading-decode').style.display = 'block';
                        });
                    }


        var cluster = $('#cluster_method').val();
        if (cluster !== 'no') {
            $('#download_clusterfile').show();
        }
        if (cluster === 'index') {
            $('#index_length_div').show();
        }

        var rec = $('#reconstruct').val();
        if (rec === 'yes') {
            $('#rebuild_method_isshow').show();
        }


        init_showfilename('forclusterfile_filename', 'fileNameLabel_simulate');
        init_showfilename('encode_outfile_filename', 'fileNameLabel_ref');
        init_showfilename('filename2', 'fileNameLabel2');
        init_showfilename('orifile_filename', 'fileNameLabel3');

        var method = $('#method').val();
        {#if (method === 'derrick' || method === 'PolarCode') {#}
        if (method === 'fountain' || method === 'PolarCode' || method === 'YYC') {
            $('#decision_soft').show();
        } else {
            $('#decision_soft').hide();
        }

        });
    </script>
{#    如果报错 就弹窗出来#}
    {% if errors %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const errorMessage = `{{ errors|escapejs }}`;  // 转义防止 XSS
    document.getElementById("errorModalBody").textContent = errorMessage;

    const modal = new bootstrap.Modal(document.getElementById('errorModal'));
    modal.show();
  });
</script>
{% endif %}

{% endblock %}